@media (max-width: 1024px) {
  * {
    width: 100%; /* 노트북이 작은 화면일 때 이미지 너비 조정 */
    height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
    margin: 0;
  }
}

@media (max-width: 768px) {
  * {
    width: calc(100%); /* 노트북이 더 작은 화면일 때 이미지 너비 조정 */
    height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
    font-size: 20px;
    margin: 0;
  }
  .four>.title{
    margin-top: 40%;
  }
  .four> .title{
    font-size: 2.2rem;
  }
  .fi>.meain{
    font-size: 2.2rem;
  }
  .fc>.meain{
    font-size: 2.2rem;
  }
  .fp>.meain{
    font-size: 2rem;
  }
  .fi>.fw{
    font-size: 0.9rem;
  }
  .fc>.fw{
    font-size: 0.9rem;
  }
  .fp>.fw{
    font-size: 0.9rem;
  }
}
@media (max-height: 375px) {
  * {
    width: auto; /* 노트북이 더 작은 화면일 때 이미지 너비 조정 */
    height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
    font-size: 16px;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  a {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  blockquote {
    font-size: 2.5rem;
  }

  .hero {
    font-size: 3.5rem;
  }
}

@keyframes fadeInUp{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .menu-icon {
      display: none;
  }

  .gnball {
      display: flex;
  }
}


* {
padding: 0;
margin: 0;
color : white;
list-style: none;
}

html, body {
height: auto;
min-height: 100%;
width: 100%;
overflow-x: hidden;
overflow-y: auto;
}

.pages {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  bottom: 0;
}

.page {
height: 99%;
min-height: 100vh;
width: 100%;
position: absolute;
bottom: auto;
transition: bottom .7s;

background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.page:first-child {
bottom: 0;
}

/* .pagination>li {
  list-style: none;
}

.pagination {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.pagination>li {
  list-style: none;
  height: 20px;
  width: 20px;
  background: #000000;
  border-radius: 50%;
  margin-top: 10px;
  transition: background .7s;
}

.pagination>li.active {
  background: #ffffff;
} */


.App {
  text-align: center;
  background-color: #000000;
  
}
/* 스크롤 바 */
.App::-webkit-scrollbar {
  display: none;
}

/* GNB */

.logo-container {
  display: flex;
  align-items: center;
}

.gnb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 9999;
  justify-content: space-between;
  align-items: center;
}

.gnb:hover{
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-out;
}

.gnblogo{
  display: flex;
  justify-content: start;
  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 1px;
    margin: 1px;
  }
}

.gnb img {
  width: 40.95px;
  height: 30.2px;
  margin: 10px;
}

.gnball {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gnb-item {
  margin-right: 50px;
  @media (max-width: 768px) {
    margin: 10px;
  }
}

.home {
  margin-left: 50px;
  @media (max-width: 768px) {
    margin: 0;
  }
}

.gnb-item a,
.gnb a {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.5rem;
  height: 60px;
  padding-top: 15px;
  text-decoration: none;

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.joinbtn{
  color: #FFFFFF;
  font-size: 20px;
  background-color: transparent;
  border-color: #7F2BE2;
  color: #7F2BE2;
  border-radius: 20px;
  border: #7F2BE2 3px solid;
  padding: 6px 15px;
  cursor: pointer;
  @media (max-width: 768px) {
    font-size: 0.6rem;
    padding: 5px;
    border-radius: 10px;
    border: #7F2BE2 1px solid;
  }
}

.joinbtn:hover { 
  transition: scale 2s; 
  transform: scale(1.1);
}


/* Frist */
.Mainimg {
  max-width: 100%;
  max-height: auto;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.maincontent{
  position: absolute;
}

.maintext{
  position: relative;
  color:white;
  top: 30%;
  right: 2%;
  cursor: default;
  @media (max-width: 768px) {
    right: 0;
    top: 40%;
  }
}

.Need, .insighttext{
  font-size: 80px;
  cursor: default;
  animation: fadeInUp 3s;
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}
.IT{
  font-size: 23px;
  cursor: default;
  animation: fadeInUp 3s;
  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.insighttext {
  color:#7F2BE2;
}

/* Second */

/* .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* .map,
.deu,
.gather {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .map {
  width: 1440px;
  height: 900px;
} */

/* .deu{
  width: 600px;
  height: 600x;
  animation-name: fadein, fadeout;
  animation-duration: 3s, 4s;
  animation-fill-mode: forwards;
} */

/* .gather{
  font-size: 48px;
  font: bold;
  animation: fadein 3s;
  -webkit-animation: fadein 3s;
} */

/* third */

.third {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.fo {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  /* animation: fadein 5s;
  animation-fill-mode: forwards; */
  opacity: 0;
  transition: opacity 3s ease;

  @media (max-width: 768px){
   font-size: 0.8rem;
  }
}

.insight {
  width: 90px;
  height: 50px;
  position: relative;
  @media (max-width: 768px){
    width: 1rem;
    height: 5%;
   }
}

#thirdlogo{
  margin-top: 15%;
  width: 700px;
  height: 510px;
  /* animation-name: zoomIn, fadeOut;
  animation-duration: 3s, 3s;
  animation-fill-mode: forwards; */
  transform: scale(1);
  opacity: 1;
  transition: transform 5s ease, opacity 3s ease;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  /* margin-top: 200px; */
  /* animation: zoomCut 3s;
  animation-fill-mode: forwards; */
  transform: scale(1);
  transition: transform 3s ease;
}

@media (max-width: 768px) {
  .third {
    flex-direction: column;
  }

  .intro {
    flex-direction: column;
    margin-top: 20px;
  }

  #thirdlogo {
    width: 100%; /* 작은 화면에서는 이미지 크기 줄임 */
    margin-top: 20px;
  }
}


  /* four */

.four{
  height: 100%;
  width: 100%;
  margin-top: 10%;
  justify-content: center;
  text-align: center;
}

.meain{
  color: #7F2BE2;
  font-size: 80px;
  font-weight: 700;
  @media (max-width: 768px){
    font-size: 1rem;
    line-height: 2rem;
   }; 
  @media (max-width: 1200px) {
    font-size: 2.5rem;
    margin-top: 5%;
}
}

.title{
  font-size: 56px;
  font-weight: 700;
  @media (max-width: 768px){
    font-size: 0.5rem;
    line-height: 1rem;
   };
   
  @media (max-width: 1200px) {
    font-size: 2.4rem;
    line-height: 2rem;
  }
}

.fw{
  font-size: 24px;
  line-height: 50px;
  margin-bottom: 40px;
  @media (max-width: 768px){
    font-size: 1rem;
    line-height: 2rem;
   };
  @media (max-width: 1200px) {
    font-size: 1.2rem;
    line-height: 3rem;
}
}

.fi {
  opacity: 0;
  transition: opacity 3s ease;
}

.fc {
  opacity: 0;
  transition: opacity 3s ease 1s, transform 3s ease 1s; /* 딜레이 2초 */

}

.fp {
  opacity: 0;
  transition: opacity 3s ease 2s, transform 3s ease 2s; /* 딜레이 3초 */
}
/* Five */

.gradient_background {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 35%, rgba(0, 0, 0, 0) 100%);
  height: 100vh;
  width: 50%;
  position: absolute;
  z-index: 9;
}

.gradient_backgroundl {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 25%);
  height: 360px;
  bottom: 0;
  right: 0;
  width: 30%;
  z-index: 9999;
  position: absolute;
}

.gradient_backgroundr {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 25%);
  height: 360px;
  bottom: 0;
  left: 0;
  width: 30%;
  position: absolute;
  z-index: 9999;
}

/* Footer */

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 95%;
  transform: translateY(-50%);
}

.main-footer {
  width:100%;
  height: 100%;
  width: auto;
  height: auto;
  position: relative;
  color: white;
  justify-content: center;
  align-items: center;
}

footer{
  width: 100%;
  height: 250px;
  text-align: center;
  position: relative;
}

footer img{
  width: 40px;
  height: 30px;
}
.insight{
  width: 120px;
}

footer a {
  text-decoration:none;
  display: inline-block;
}

footer p{
  color: white;
  font-weight: 700;
  font-size: 24px;
}

svg{
  width: 30px;
  height: 30px;
  color: #fff;
  justify-content: space-between;
  margin: 10px 10px 0 10px;
  display: inline-block;
}

.lastcontent{
  text-align: center;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
