@media (max-width: 1024px) {
  * {
    width: 100%; /* 노트북이 작은 화면일 때 이미지 너비 조정 */
    height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
    margin: 0;
  }
}

@media (max-width: 768px) {
  * {
    width: calc(100%); /* 노트북이 더 작은 화면일 때 이미지 너비 조정 */
    height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
    font-size: 20px;
    margin: 0;
  }
  .intro>.insight{
    width: 60px;
    height: 60px;
  }
  .intro>.fo{
    font-size: 20px;
  }
  .four>.title{
    margin-top: 40%;
  }
  .four> .title{
    font-size: 45px;
  }
  .fi>.meain{
    font-size: 45px;
  }
  .fc>.meain{
    font-size: 45px;
  }
  .fp>.meain{
    font-size: 30px;
  }
  .fi>.fw{
    font-size: 20px;
  }
  .fc>.fw{
    font-size: 20px;
  }
  .fp>.fw{
    font-size: 20px;
  }
}
@media (max-height: 375px) {
  * {
    width: auto; /* 노트북이 더 작은 화면일 때 이미지 너비 조정 */
    height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
    font-size: 16px;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  a {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  blockquote {
    font-size: 2.5rem;
  }

  .hero {
    font-size: 3.5rem;
  }
}

@keyframes fadeInUp{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

* {
padding: 0;
margin: 0;
color : white;
list-style: none;
}

html, body {
height: 100%;
width: 100%;
overflow-x: hidden;
}

.pages {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  bottom: 0;
}

.page {
height: 100%;
width: 100%;
position: absolute;
bottom: -100%;
transition: bottom .7s;

background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.page:first-child {
bottom: 0;
}

/* .pagination>li {
  list-style: none;
}

.pagination {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.pagination>li {
  list-style: none;
  height: 20px;
  width: 20px;
  background: #000000;
  border-radius: 50%;
  margin-top: 10px;
  transition: background .7s;
}

.pagination>li.active {
  background: #ffffff;
} */


.App {
  text-align: center;
  background-color: #000000;
  overflow-y: auto;
  height: calc(var(--vh, 1vh) * 100);
}
/* 스크롤 바 */
/* .App::-webkit-scrollbar {
  display: none;
} */

/* GNB */
.gnb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 9999;
  justify-content: space-between;
  align-items: center;
}

.gnb:hover{
  transition: 0.5s ease-out;
  background-color: rgba(0, 0, 0, 0.5);
}

.gnb img {
  width: 40.95px;
  height: 30.2px;
  margin: 10px;
}

.gnball {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gnb-item {
  margin-right: 50px;
}

.home {
  margin-left: 50px;
}

.gnb-item a,
.gnb a {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
  height: 60px;
  padding-top: 15px;
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
}

.joinbtn{
  color: #FFFFFF;
  font-size: 24px;
  background-color: transparent;
  border-color: #D38AFF;
  color: #D38AFF;
  border-radius: 20px;
  border: #D38AFF 3px solid;
  padding: 10px 20px;
  cursor: pointer;
}

.joinbtn:hover { 
  animation-duration: 3s; 
  animation-name: rainbow; 
  animation-iteration-count: infinite; } 
@keyframes rainbow {     
 0% { color: #ff2a2a; }
 15% { color: #ff7a2a; }
 30% { color: #ffc52a; }
 45% { color: #43ff2a; }
 60% { color: #2a89ff; }
 75% { color: #202082; }
 90% { color: #6b2aff; } 
 100% { color: #e82aff; }
}


/* Frist */
.Mainimg {
  max-width: 100%;
  max-height: auto;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.maincontent{
  position: absolute;
}

.maintext{
  position: relative;
  color:white;
  top: 30%;
  right: 2%;
  cursor: default;
}

.Need, .insighttext{
  font-size: 80px;
  cursor: default;
  animation: fadeInUp 3s;
}
.IT{
  font-size: 23px;
  cursor: default;
  animation: fadeInUp 3s;
}

.insighttext {
  color:#D38AFF;
}

/* Second */

/* .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* .map,
.deu,
.gather {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .map {
  width: 1440px;
  height: 900px;
} */

/* .deu{
  width: 600px;
  height: 600x;
  animation-name: fadein, fadeout;
  animation-duration: 3s, 4s;
  animation-fill-mode: forwards;
} */

/* .gather{
  font-size: 48px;
  font: bold;
  animation: fadein 3s;
  -webkit-animation: fadein 3s;
} */

/* third */

.third {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.fo {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  /* animation: fadein 5s;
  animation-fill-mode: forwards; */
  opacity: 0;
  transition: opacity 3s ease;
}

.insight {
  width: 90px;
  height: 50px;
  position: relative;
}

#thirdlogo{
  margin-top: 15%;
  width: 700px;
  height: 510px;
  /* animation-name: zoomIn, fadeOut;
  animation-duration: 3s, 3s;
  animation-fill-mode: forwards; */
  transform: scale(1);
  opacity: 1;
  transition: transform 5s ease, opacity 3s ease;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  /* margin-top: 200px; */
  /* animation: zoomCut 3s;
  animation-fill-mode: forwards; */
  transform: scale(1);
  transition: transform 3s ease;
}


  /* four */

.four{
  height: 100%;
  width: 100%;
  margin-top: 5%;
}

.meain{
  color: #D38AFF;
  font-size: 80px;
  font-weight: 700;
}

.title{
  font-size: 56px;
  font-weight: 700;
}

.fw{
  font-size: 24px;
  line-height: 50px;
}

.fi {
  opacity: 0;
  transition: opacity 3s ease;
  transform-style: preserve-3d;
}

.fc {
  opacity: 0;
  transition: opacity 3s ease 1s, transform 3s ease 1s; /* 딜레이 2초 */
  transform-style: preserve-3d;
}

.fp {
  opacity: 0;
  transition: opacity 3s ease 2s, transform 3s ease 2s; /* 딜레이 3초 */
}
/* Five */

.gradient_background {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 35%, rgba(0, 0, 0, 0) 100%);
  height: 100vh;
  width: 50%;
  position: absolute;
  z-index: 9;
}

.gradient_backgroundl {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 25%);
  height: 360px;
  bottom: 0;
  right: 0;
  width: 30%;
  z-index: 9999;
  position: absolute;
}

.gradient_backgroundr {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 25%);
  height: 360px;
  bottom: 0;
  left: 0;
  width: 30%;
  position: absolute;
  z-index: 9999;
}